extends layout

block navigation-unreg
block navigation-judge
block navigation-particip

block content
    script( src="/javascripts/scriptGeneral.js" type="text/javascript")
    .container
        .row
            .col-10.offset-1.mt-4
                h2 Текущие результаты
                table.table.table-striped.table-bordered.table-hover
                    thead.thead-dark
                        th(scope=col) Команда
                        th(scope=col) Школа
                        th(scope=col) Лига
                        th(scope=col) Балл
                    tbody
                        -for (let i = 0; i < commands.name.length; i++)
                            tr
                                th(scope="row")=commands.name[i]
                                td=commands.school[i]
                                td=commands.league[i]
                                td=commands.result[i]