extends layout

block navigation-unreg
block navigation-judge
block navigation-particip

block content
    script( src="/javascripts/scriptTask.js" type="text/javascript")
    .container
        .row
            .col-10.offset-1.mt-4
                h2 Задачи
        .row
            .col-10.offset-1
                    table.table.table-striped
                        thead.thead-dark
                            tr
                                th( scope="col" ) #
                                th( scope="col" ) Лига
                                th( scope="col" ) Тип
                                th( scope="col" ) Условие
                                th( scope="col" ) Ответ
                        tbody.task
                            -for(let i = 0; i < type.length; i++)
                                tr(id='tr'+i)
                                    th(scope='row' )
                                        input.form-control(type='text'  placeholder='Номер' autocomplete='off' id='numb'+i value=num[i] required)
                                    td
                                         select.form-control(autocomplete='off' id='leag'+i required)
                                            -for(let j = 0; j < leagues.length; j++)
                                                -if (j+1 === league[i])
                                                    option(selected value=i+1 )=leagues[j]
                                                -else
                                                    option(value=i+1 )=leagues[j]
                                    td
                                        select.form-control(id='type'+i autocomplete='off' required)
                                            -if (type[i] === 2)
                                                option(value='1') Исходный
                                                option(value='2' selected) Зачётный
                                            -else
                                                option(value='1' selected) Исходный
                                                option(value='2') Зачётный
                                    td
                                        input.form-control(type='text' placeholder='Введите условие' autocomplete='off' id='cond'+i value=condition[i] required)
                                    td
                                        input.form-control(type='text' placeholder='Введите ответ' autocomplete='off' id='answ'+i value=answer[i] required)

                            tr
                                th( scope='row' colspan='6' ).add-task +
        .row
            .col-10.offset-1.mt-1
                button.mr-1#save-task.btn.btn-primary( type="submit" ) Сохранить изменения
                button#cancel-task.btn.btn-secondary( type="reset" ) Отмена